@import '~@/assets/styles/scss/base';

html,body{
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif !important;
}

.page {
  height: 100%;
  width: 100%;
}

