@charset "UTF-8";

@mixin font-hidden-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex_layout($direction : row, $justifyContent : center, $alignItems : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flex_set($flex-grow : 0, $flex-shrink : 1, $flex-basis: null) {
  flex: $flex-grow $flex-shrink $flex-basis;
}
